// Colors

$black:					#1d1d1d;
$black-brighter:		#333;
$black-brightest:		#666;

$blue:					#42b9eb;
$blue--brightest:		#e0f5fc;
$blue--brighter:		#97dff5;

$gray:					#aaa9a9;
$gray-lighter:			#f7f7f7;


$pink:					#ffa1c9;
$pink--darker:			#ff5fa3;
$white-darker:			#f2f2f2;

$color-page-background:	white;
