// Fonts

$lato:				'lato';
$yanone:			'Yanone Kaffeesatz', sans-serif;


// Font weights

$bold:				700;
$regular:			400;
$light:				300;


// Default

$base-font-size:	16;
$text:				$lato;
$grid-base-width:	1260;
$content-width:		810;


$tablet_landscape:	1024px;