.o-form {
	margin-bottom: 30px;
	text-align: center;

	input[type='text'], input[type='email'], input[type='password'], textarea {
		@include border-radius;
		@include hover;
		background-color: $blue--brightest;
		
		&:focus {
			background-color: darken($blue--brightest, 5%);
		}
	}

	input[type='text'], input[type='email'], input[type='password'] {
		height: 40px;
		padding: 0 20px;
		text-align: center;		
	}
	
	label {
		white-space: nowrap;
	}

	textarea {
		height: 325px;
		padding: 20px;
	}
	
	&__field {
		width: 60%;
	}
	
	&__fields {
		margin-bottom: 20px;
		
		&--left {
			float: left;
		}	
		
		&--right {
			float: right;
		}
	}
	
	&__item {
		@include clear;
		display: block;
		margin-bottom: 20px;
		
		@media screen and ( max-width: 640px ) {
			.c-form-labeloutside & {
				margin-bottom: 10px;
			}
		}
	}
	
	&__label {
		width: 40%;
		padding-right: 20px;
		line-height: 38px;
		text-align: right;
		color: $blue;
	}
	
	&__lead {
		@include clear;
		display: block;
		margin-bottom: 5px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: em(14);
		color: $blue;
	}
	
	&__half {
		float: left;
		overflow: hidden;

		.label {
			float: left;
			line-height: 40px;
			font-size: em(14);
			color: $black-brightest;
		}
		
		input {
			float: left;
		}

		&--right {
			float: right;
		}
		
		@media screen and ( max-width: 640px ) {
			.c-form-labeloutside & {
				float: none;
				display: block;
				width: 100%;
				text-align: left;
			}
		}
		
	}
	
	&__required {
		color: rgba(red, .7);
	}
	
	.has-error {
		input, textarea {
			border: 1px solid rgba(red, .7);
		}
		
		.mce-edit-area {
			border-color: solid rgba(red, .7) !important;
			border: 1px solid red !important;
		}
		
		.c-upload__input {
			border: 1px solid rgba(red, .7);
		}
	}
	
	@include input-placeholder {
		color: $blue;
	}
	
}