.o-header {
	@include antialias;
	margin-bottom: 1em;
	color: inherit;
	
	h1, h2 {
		font: {
			family: $yanone;
			size: em(48);
			weight: $bold;
		}
		color: $blue;
	}
	
	h3 {
		line-height: 1;
		font: {
			size: em(36);
			weight: $bold;
		}
	}
}
