.c-form-post {
	position: relative;
	top: -20px;
	margin-bottom: 40px;
	color: $blue;
	
	&__note {
		text-align: left;
		color: $gray;
	}
	
	.o-form__fields {
		@media screen and ( min-width: 941px ) {
			&--left,
			&--right {
				width: grid(390, $content_width);
			}
		}
		
		@media screen and ( max-width: 940px ) {
			float: none;
		}		
	}

	.o-form__half {
		width: grid(175, 390);
	}
}
