.c-logo {
	@include transition-property(none);
	position: absolute; left: 15px; top: 55px; z-index: 5;
	display: block;
	width: 265px;
	
	.stork {
		position: absolute;
		right: -125px;
	    top: -35px;
		width: 208px; height: 145px;
	}
	
	@media screen and ( max-width: $tablet_landscape ) {
		width: grid(265, 1024);
		
		.stork {
			right: - grid(125, 265);
			width: grid(208, 265);
		}
	}
	
	@media screen and ( max-width: 720px ) {
		.stork {
			top: -50%;
		}
	}
	
	@media screen and ( max-width: 640px ) {
		width: 165px;
		left: 50%; top: 30px;
		margin-left: -100px;
	}
}